[submodule "extern/GenericParameters"]
	path = extern/GenericParameters
	url = https://github.com/InteractiveComputerGraphics/GenericParameters.git
[submodule "extern/Discregrid"]
	path = extern/Discregrid
	url = https://github.com/InteractiveComputerGraphics/Discregrid.git
