---
BasedOnStyle: LLVM
Language: Cpp
Standard: Cpp11
AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AlwaysBreakTemplateDeclarations: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
ColumnLimit: 100
IndentWidth: 4
TabWidth: 4
UseTab: Never
NamespaceIndentation: None
IndentPPDirectives: 'AfterHash'
AlignEscapedNewlines: 'Left'
Cpp11BracedListStyle: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
BreakConstructorInitializers: AfterColon
SortUsingDeclarations: true
PointerAlignment: Left
SpacesInParentheses: true
AlignTrailingComments: true
AlignConsecutiveAssignments: true
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false
#tests for ci
SpacesInCStyleCastParentheses: false

SpaceBeforeCpp11BracedList: true
StatementMacros: [
'KeyMappingViewer',
'KeyMappingGizmo',
'KeyMappingCamera',
'KeyMappingFlightManipulator',
'KeyMappingRotateAroundCamera',
'GL_ASSERT',
'GL_CHECK_ERROR',
'CORE_UNUSED',
'CORE_ASSERT'
]
...
