[submodule "3rdPartyLibraries/Assimp"]
	path = 3rdPartyLibraries/Assimp
	url = https://github.com/assimp/assimp.git
[submodule "3rdPartyLibraries/f3drl"]
	path = 3rdPartyLibraries/f3drl
	url = https://git.renater.fr/f3drl.git
