name: Deploy documentation to gh-pages

on:
  push:
    branches: [ master ]

jobs:
  deploy-doc:
    runs-on: ubuntu-20.04
    steps:
      - name: Prepare directories
        run: |
          mkdir -p src/Radium-Engine
          mkdir -p build/Radium-Engine
      - name: Checkout remote head
        uses: actions/checkout@master
        with:
          path: src/Radium-Engine
      - name: Install packages
        run : |
          sudo apt-get install doxygen graphviz
      - name: Configure Doc
        run: |
          cd build/Radium-Engine
          cmake ../../src/Radium-Engine/doc -DCMAKE_EXECUTE_PROCESS_COMMAND_ECHO=STDOUT
      - name: Build Doc
        run: |
          cd build/Radium-Engine
          cmake --build . --target RadiumDoc
      - name: Temp ugly badge fix (remove when doxygen>1.17)
        run: |
          cd build/Radium-Engine
          sed -i 's/object type="image\/svg+xml" data/img src/g ; s/>codecov<\/object/ alt="codecov" class="inline"\//g' html/index.html
      - name: Deploy Doc
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.REPO_ACCESS_TOKEN }}
          publish_dir: 'build/Radium-Engine/html'
