name: Guideline Checks

on:
  workflow_call:
    secrets:
      GIST_BADGES_TOKEN:
        required: false
      GIST_BADGES_SECRET:
        required: false
jobs:
  history:
    if: ${{ github.event_name != 'push' }}
    name: Check linear history
    runs-on: ubuntu-latest
    steps:
      - name: Checkout remote head
        uses: actions/checkout@master
        with:
          fetch-depth: 0
          # checkout branch head instead of merge commit to have the potientially commited change from formatter
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Check up to date linear history, without merges
        run: bash ./scripts/is-history-pr-compatible.sh
      - name: Status report README PLEASE
        if: ${{ failure() && github.event.pull_request.head.repo.full_name != github.repository }}
        run: |
              echo **CHECK LINEAR HISTORY FAIL**
              echo
              echo Please rebase on current up to date release-candidate,
              echo "without merge commits (e.g. you can squash them)."
  filelists:
    if: ${{ github.event_name != 'push' }}
    name: Check filelist.cmake files correponds to autogenerated ones.
    runs-on: ubuntu-latest
    steps:
      - name: Checkout remote head
        uses: actions/checkout@master
        with:
          fetch-depth: 0
      - name: generate and check diff
        run: |
          pip3 install --upgrade pip && pip install cmake-format
          cd scripts
          bash ./generateAllFilelists.sh
          git diff --exit-code
