name: Notify master update to Radium-Releases

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
     - uses: actions/checkout@v2
     - name: Repository Dispatch
       uses: peter-evans/repository-dispatch@v1
       with:
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          repository: STORM-IRIT/Radium-Releases
          event-type: code-update-event
          client-payload: '{"ref": "${{ github.ref }}", "sha": "${{ github.sha }}"}'

