div.vertical_centering {
    display: inline-block;
    vertical-align: middle;
}
body,h1,h2,h3,h4,h5 {
    background-color:#385e71;
    font-family: sans-serif;
    line-height: 1.5;
    color: white;
}
p {
    white-space: nowrap;
}
a {
    color: #ffe330;
}
.radium_engine {
    color:#ff811e;
    font-family: Fantasy;
    font-variant: small-caps;
    font-weight: bold;
    font-size: x-large;
}
table {
    border: none;
}
